{% extends "base-home.html" %}

{% block head %}
    <link rel="stylesheet" href="..\static\styles\home.css">
{% endblock %}

{% block contents %}
    <div class="corpo">
        <div>
            <img src="..\static\img\fotoHome.svg" alt="" class="imgRosto">
        </div>
        <div>
            <h2>Olá! Seja bem vindo(a)!</h2><br>
        </div>
        <div class="txtCorpo">
            <p>Prazer em te conhecer! Meu nome é Jonas, tenho 25 anos. Natural de São José dos Campos - SP, Brasil. Sempre gostei muito aprender e de me envolver em novos desafios. Já me encontrei fazendo muitas coisas por aí. Bora conhecer um pouquinho mais sobre mim!?</p><br>
            <p>Sou formado como técnico em Redes de Computadores pelo SENAI Santos Dumont e também sou bacharel em Microbiologia e Imunologia pela Universidade Federal do Rio de Janeiro. Minha paixão verdadeira é aprender, criar e ensinar! Sempre tive uma curiosidade enorme por programação, desde meu primeiro "Olá Mundo!", não parei de pensar em voltar a desenvolver. Foi então que, decidi voltar para essa área e, atualmente, sou um Desenvolvedor de Softwares em formação pela FATEC Prof. Jessen Vidal!</p><br>
            <p>Quando quero curtir gosto de estar com meus amigos. Viajar e conhecer outros lugares com quem eu mais gosto é meu hobbie favorito.
            Sou apaixonado por video games, sempre joguei muito. Meu primeiro interesse em programar foi para desenvolver jogos. Meus preferidos são jogos indies!</p><br>
            <p>Gosto de passar horas assistindo conteúdos aleatórios no YouTube. Mas tenho uma quedinha mesmo é por séries e animes.</p>
        </div>
        <img src="..\static\img\logoSite.png" alt="" class="logoSite">
    </div>
{% endblock %}
