{% extends "base-home.html" %}

{% block head %}
    <link rel="stylesheet" href="..\static\styles\projetos.css">
{% endblock %}

{% block contents %}
    <div class="corpo">
        <img src="..\static\img/fotoProjetos.svg" alt="" class="imgRosto">
        <div class="txtCorpo">
            <h2>Meus projetos</h2><br>
            <a href="..\static\TCC Jonas Siqueira versao final.pdf"><p>TCC UFRJ</p></a>
            <a href="https://www.nature.com/articles/s42003-021-02134-w"><p>Artigo publicado na Nature</p></a>
            <a href="https://github.com/impactechAPI/-API-1-Internet-Banking"><p>Projeto Integrado Fatec Sprint 1</p></a>
        </div>
        <img src="..\static\img\logoSite.png" alt="" class="logoSite">
    </div>
{% endblock %}
