{% extends "base-home.html" %}

{% block head %}
    <link rel="stylesheet" href="..\static\styles\sobre-mim.css">
{% endblock %}

{% block contents %}
    <div class="corpo">
        <img src="..\static\img\fotoSobreMim.svg" alt="" class="imgRosto">
        <div class="txtCorpo">
            <h2>Sobre mim</h2><br>
            <p>Nasci em Abril de 1997, já corinthiano! Quando criança gostava de correr para montar minhas próprias histórias com meus brinquedos, depois de assistir algum desenho na TV.</p><br>
            <p>Minha lembrança mais forte de um pouco antes da adolescência era de estar na escolinha de futebol. Claro que eu queria ser jogador de futebol!</p><br>
            <p>Deixei de jogar futebol para focar em torcer. Começei a aprender a gostar de estudar. Minha primeira tentativa de estudar sério foi para passar na prova do SENAI, para fazer Redes de Computadores. Na época, não fazia ideia do que era programar. Quando descobri que isso existia e aprendi minha primeira linguagem, o C+, fiquei vislumbrado com o mundo de possibilidades que aquilo poderia me dar.</p><br>
            <p>Depois do ensino médio, resolvi prestar vestibular e fazer algo relacionado à ciência. Soma-se a isso o fato de que eu queria ir morar fora de casa e trilhar um caminho diferente. Sempre tive uma inclinação por biologia e quis desenvolver ciência. Fui estudar Microbiologia e Imunologia na Universidade Federal do Rio de Janeiro.</p><br>
            <p>Após cinco anos de estudos e uma pandemia, depois de fazer muitas coisas, conhecer pessoas de todos os tipos e de lugares do mundo que nunca imaginaria. Encerrei minha jornada acadêmica e passei a pensar em uma jornada profissional. Voltei a prestar um vestibular e passei na FATEC! :)</p>
        </div>
        <img src="..\static\img\logoSite.png" alt="" class="logoSite">
    </div>
{% endblock %}