@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 450px) {
    .rodape {
        flex-direction: column;
    }
  }

.corpoGeral {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cabecalho{
    width: 100%;
    height: 96px;
    background: #BFD5D9;
    color: #7A6A53;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
}

.rodape{
    background: #BFD5D9;
    color: #7A6A53;

    display: flex;
    gap: 10px;

    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 25px;
}

.corpo{
    display: flex;
    flex-direction: column;

    background: #D5DED9;
    color: black;

    font-size: 18px;
    align-items: center;
    padding: 5% 10% 5% 10%;
}

.txtCorpo{
    margin-top: 20px;
    text-align: justify;
    padding: 0% 10%;
}

.imgRosto{
    width: 319.22px;
    height: 313.68px;
    left: 0px;
    top: -68.27px;  
    mix-blend-mode: luminosity;
}

.imgRodape{
    height: 32px;
    width: 33px;
    border-radius: 0px;
    filter: opacity(0.4) drop-shadow(0 0 0 #7A6A53);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.letraRodape {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 10%;
}

.logoSite{
    height: 20%;
    width: 20%;
}